html, body {
    margin: 0;
    padding: 0;
}

body {
    background-color: #ECEAE0;

    font-family: Arial, Helvetica, Sans-serif;
    font-size: 10pt;
    color: #302004;
}

.made-by-highlight {
    font-size: 14pt;
    font-weight: bold;
}

.mapped-covert {
    margin-bottom: 26px;
}

.container {
    margin: 0 auto;
    width: 760px;
}

.content {
    width: 632px;
    float: left;
}

.sidebar {
    width: 128px;
    float: left;
}

.text-center {
    text-align: center;
}

/*A.g:link {
    font-family: Times New Roman; font-weight: bold; font-size: 12pt; color: #ffffa0; font-style: italic;
}

A.g:visited {
    font-family: Times New Roman; font-weight: bold; font-size: 12pt; color: #f0f0c0; font-style: italic;
}

A.g:hover {
    font-family: Times New Roman; font-weight: bold; font-size: 12pt; color: #e0e0a0; font-style: italic;
}

A.g:active {
    font-family: Times New Roman; font-weight: bold; font-size: 12pt; color: #f0f0c0; font-style: italic;
}
*/

P.MyText
{
    BACKGROUND-COLOR:  #ECEAE0;
    COLOR: #524C42;
    FONT-FAMILY: Arial, Helvetica, Sans-serif;
    FONT-SIZE: 10pt;
    FONT-WEIGHT: normal;
}

P.TableHeader
{
    BACKGROUND-COLOR:  #D2D0C8;
    COLOR: #000000;
    FONT-FAMILY: Arial, Helvetica, Sans-serif;
    FONT-SIZE: 11pt;
    FONT-WEIGHT: 600;
}

P.TableIndex
{
    BACKGROUND-COLOR:  #ECEAE0;
    COLOR: #000000;
    FONT-FAMILY: Arial, Helvetica, Sans-serif;
    FONT-SIZE: 10pt;
    FONT-WEIGHT: 600;
}

A
{
    COLOR: #7C5A36;
    FONT-FAMILY: Arial, Helvetica, Sans-serif;
    TEXT-DECORATION: underline;
}
A:HOVER
{
    COLOR: #B08250;
}

p.MsoFootnoteText, li.MsoFootnoteText, div.MsoFootnoteText, a.MsoFootnoteText
{    FONT-SIZE: 10pt;
}
    
span.MsoFootnoteReference
	{vertical-align:super;
	 FONT-SIZE: 7pt;
	 FONT-FAMILY: Arial, Helvetica, Sans-serif;
	}
span.MsoEndnoteReference
	{vertical-align:super;
	 FONT-SIZE: 7pt;
	 FONT-FAMILY: Arial, Helvetica, Sans-serif;
	}


Td.Menu
{
    BACKGROUND-COLOR: #524C42;
    COLOR: #ECBC56;
    FONT-FAMILY: Arial, Helvetica, Sans-serif;
    FONT-SIZE: 10pt;
    FONT-WEIGHT: normal;
}

P.Menu
{
    BACKGROUND-COLOR: #524C42;
    COLOR: #ECBC56;
    FONT-FAMILY: Arial, Helvetica, Sans-serif;
    FONT-SIZE: 10pt;
    FONT-WEIGHT: normal;
    TEXT-ALIGN: center;
    margin-top:0; 
    margin-bottom:3;
}

Td.Base
{
    BACKGROUND-COLOR: #ECEAE0;
    COLOR: #302004;
    FONT-FAMILY: Arial, Helvetica, Sans-serif;
    FONT-SIZE: 10pt;
    FONT-WEIGHT: normal;
}

Td.MenuH
{
    BACKGROUND-COLOR: #ECEAE0;
    COLOR: #ECBC56;
    FONT-FAMILY: Arial, Helvetica, Sans-serif;
    FONT-SIZE: 10pt;
    FONT-WEIGHT: normal;
}

P.MenuH
{
    BACKGROUND-COLOR: #ECEAE0;    
    COLOR: #C87E52;
    FONT-FAMILY: Arial, Helvetica, Sans-serif;
    FONT-SIZE: 9pt;
    FONT-WEIGHT: bold;
    TEXT-ALIGN: left;
    margin-top:0; 
    margin-bottom:0;
}


A.MenuH
{
    BACKGROUND-COLOR: #524C42;
    COLOR: #ECBC56;
    FONT-FAMILY: Arial, Helvetica, Sans-serif;
    FONT-SIZE: 8pt;
    FONT-WEIGHT: bold;
    TEXT-DECORATION: none;
}

A.MenuH:HOVER
{
    COLOR: #C87E52;
}

A.Menu
{
    COLOR: #ECBC56;
    FONT-FAMILY: Arial, Helvetica, Sans-serif;
    FONT-SIZE: 8pt;
    FONT-WEIGHT: bold;
    TEXT-DECORATION: none;
}

A.Menu:HOVER
{
    COLOR: #C87E52;
}


H1
{
    COLOR: #7C5A36;
    FONT-FAMILY: Arial, Helvetica, Sans-serif;
    FONT-SIZE: 18px;
    FONT-WEIGHT: bold;
    margin-top:6; 
    margin-bottom:6;
}

H2
{
    COLOR: #462A08;
    FONT-FAMILY: Arial, Helvetica, Sans-serif;
    FONT-SIZE: 16px;
    FONT-WEIGHT: bold;
    margin-top:6; 
    margin-bottom:6;
}

H3
{
    COLOR: #462A08;
    FONT-FAMILY: Arial, Helvetica, Sans-serif;
    FONT-SIZE: 14px;
    FONT-WEIGHT: bold;
    margin-top:6; 
    margin-bottom:3;
}

H4
{
    COLOR: #462A08;
    FONT-FAMILY: Arial, Helvetica, Sans-serif;
    FONT-SIZE: 12px;
    FONT-WEIGHT: bold;
    margin-top:3; 
    margin-bottom:3;
}